* {
	background: #ffff00;
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	margin: 30px;
	width: 100%;
	position: relative;
	font-family: 'Roboto Slab', serif;
	transition: background 500ms ease;
}

::selection {
    color: #FFFFFF;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom:  20px;
}

p {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 20px;
}

ul, ol {
	font-size: 15px;
	margin-left: 20px;
	margin-bottom: 50px;
	font-weight: 300;
}

h3 {
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: 400;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/